<%- include("partials/header"); -%>

<style>
    .vertical-center {
        min-height: 100%;
        /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh;
        /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
</style>

<div class="container vertical-center">
    <div class="container my-5 py-5 z-depth-1">
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <form class="text-center" action="/" method="POST">
                        <p class="h4 mb-4">Sign in</p>
                        <input name="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                        <input name="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4"
                            placeholder="Password">
                        <button value="submit" class="btn btn-info btn-block my-4" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
</body>

</html>