<%- include("partials/header"); -%>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">
            <div class="col-xl-5">
              <h1>Make your Interior smarter than ever</h1>
              <h2>Let us handle your house</h2>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Choose Us?</h2>
          <p>
            We will provide you better Interior Design and Services for end to end home interiors like Modular Kitchen, Wardrobes, TV units, Cot with Headboard, Crockery Unit, Pooja Unit, False Ceiling and many more.
            The founding of Shrestaa Interior turned this dream into a business reality. Our team of seasoned builders and installers are here to turn your visions into tangible structures. Just give us a call and let us know what you want - we’ll take care of the rest.
          </p>
        </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>
            A team of professionals who prioritize top quality service, we’re sure you’ll be satisfied with the excellent results we’ll deliver and execute.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="icofont-computer"></i>
              <h4>Modular Kitchen</h4>
              <p>
                Fabrication of Base, Wall and Loft Cabinets by using 19mm BWP 710 Grade Century / Green Ply Wood and 6mm BWP 710 Grade Century / Green Ply Wood for Back Panel in the Cabinets and 0.8mm Half White laminations are used for inside cabinets, external 1mm / 2mm Acrylic Laminations or 1mm Airolam and Merino High Glossy Colour Laminates are used with Required Accessories.
              </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="icofont-chart-bar-graph"></i>
              <h4>Bedroom</h4>
              <p>Fabrication of Wardrobes with loft, Cot, Study Unit Cabinets using 19mm MR 303 Grade Neem Ply Wood and 6mm MR 303 Grade Neem Ply Wood on the back panel of the cabinet, 0.8mm Half White / Fabric Laminations are used for inside cabinets, external 1mm Airolam and Merino Colour Laminates are used with Required Accessories.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="icofont-image"></i>
              <h4>Living Area</h4>
              <p>Fabrication of TV, Crockery, Pooja and Foyer Units Cabinets by using 19mm MR 303 Grade Neem Ply Wood and 6mm MR 303 Grade Neem Ply Wood on the back panel of the cabinet, 0.8mm Half White / Fabric Laminations are used for inside cabinets, external 1mm Airolam and Merino Colour Laminates are used with Required Accessories.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="icofont-settings"></i>
              <h4>Accessories</h4>
              <p>Hettich / Kiosk / Hafele / CNR Hinges, Channels and other required fittings to be used.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="icofont-earth"></i>
              <h4>Modular Finish</h4>
              <p>Modular Shutters done at factory for better Aesthetic finishing and only Cabinets are done at site by carpenter for better strength and take care of wall misalignments.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
              <i class="icofont-tasks-alt"></i>
              <h4>Warranty and Services</h4>
              <p>15 years of Warranty for all Units and for Accessories and other Fittings as per the Company Terms and Conditions. Project Execution Timeline is decided based on the Project.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Wide Range of Collections</h2>
          <p>Recently Completed Projects with Client Information</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Kitchen</h4>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="/kitchen-room" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Dining Area</h4>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="/dining-area" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Living Area</h4>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="/living-area" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bed Room</h4>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="/bed-room" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Foyer</h4>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="/foyer" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Commercial Projects</h4>
                <div class="portfolio-links">
                  <a href="/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="/commercial-space" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

   
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Shrestaa Interior Managing Partners</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sachin Ravikumar</h4>
                <span>Proprietor</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Chandrashekar N</h4>
                <span>Proprietor</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>#663 2nd Main 2nd Phase <br> 7th Block Banashankari 3rd Stage, <br> Banglore 560085</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <a href="mailto:shrestaainterior@gmail.com" class="facebook"><i class="bx bx-envelope"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <h3>Email Us</h3>
                  <p>shrestaainterior@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-3">
                  <h3>Call Us</h3>               
                    <a href="tel:9844316355"><i class="bx bx-phone-call"></i>+91 9844316355</a>               
                    <a href="tel:9845087213"><i class="bx bx-phone-call"></i>+91 9845087213</a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <%- include("partials/footer"); -%>