<%- include("partials/header"); -%>

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="/">Home</a></li>
      <li>Kitchen</li>
    </ol>
    <h2>Our Kitchen Project</h2>

  </div>
</section><!-- End Breadcrumbs -->


<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <% for(i = 0; i < data.length; i++) {%>
  <div class="container" data-aos="fade-up">
    <div class="portfolio-details-container">
      <div class="owl-carousel portfolio-details-carousel">
        <% for(j = 0; j < data[i].image.length; j++) {%>
        <div class="portfolio-links">
          <img src="<%= data[i].image[j] %>" data-gall="portfolioGallery" class="img-fluid" alt="">
          <a href="<%= data[i].image[j] %>" data-gall="portfolioGallery" class="venobox btn-get-started"><i
              class="bx bx-plus"></i>Show Image</a>
        </div>
        <% } %>
      </div>
      <div class="portfolio-info">
        <h3>Project information</h3>
        <ul>
          <li><strong>Category</strong>: <%= data[i].category %></li>
          <li><strong>Client</strong>: <%= data[i].client %></li>
          <li><strong>Project date</strong>: <%= data[i].date %></li>
        </ul>
      </div>

    </div>

    <div class="portfolio-description">
      <h2><%= data[i].title %></h2>
      <p>
        <%= data[i].content %>
      </p>
    </div>

  </div>

  <% } %>
</section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

<%- include("partials/footer"); -%>