<%- include("../partials/admin-header"); -%>

<style>
    .vertical-center {
        min-height: 100%;
        /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh;
        /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
</style>

<main>
    <section>
        <div class="container vertical-center">
            <div class="jumbotron text-center hoverable p-4">
                <div class="row">
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <div class="view overlay">
                            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid"
                                alt="Sample image for first version of blog listing">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 text-md-left ml-3 mt-3">
                        <!-- Change Here -->
                        <h4 class="h4 mb-4">Foyer Collections :</h4>
                        <!-- Change Here -->
                        <form action="/admin/foyer" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_csrf" value="">
                            <div class="md-form">
                                <input id="kTitle" name="kTitle" type="text" class="form-control" required>
                                <label for="kTitle">Enter Title:</label>
                            </div>
                            <div class="md-form">
                                <input id="kContent" name="kContent" type="text" class="form-control" required>
                                <label for="kContent">Enter Content:</label>
                            </div>
                            <div class="md-form">
                                <input id="kCat" name="kCat" type="text" class="form-control" required>
                                <label for="kCat">Category</label>
                            </div>
                            <div class="md-form">
                                <input id="kClient" name="kClient" type="text" class="form-control" required>
                                <label for="kClient">Client</label>
                            </div>
                            <div class="md-form">
                                <input id="kDate" name="kDate" type="text" class="form-control" required>
                                <label for="kDate">Date: (Day-Month-Year)</label>
                            </div>
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <h4 class="alert-heading">Instructions!</h4>
                                <ul>
                                    <li>All fields are <span style="font-weight: bold;">Mandatory</span></li>
                                    <li>Total Image size should not exceed <span style="font-weight: bold;">10MB.</span>
                                    </li>
                                    <li>Try to limit each room to only 1 Project.</li>
                                    <li>Refresh page once after uploading the images/post to refelect the changes on the
                                        Admin Panel.</li>
                                    <li><span style="font-weight: bold;">Once Deleted, Images or Post cannot be
                                            Recovered!.</span></li>
                                </ul>
                                <hr>
                                <p class="mb-0">Anything posted here will be directly posted to the main website. Cross
                                    verify information before posting it to live website.</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div>
                                <label for="files" class="btn purple-gradient">Select Images</label>
                                <input id="files" name="image" style="visibility:hidden;" type="file" multiple required>
                            </div>
                            <button type="submit" value="submit" name="kButton"
                                class="btn peach-gradient">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <% if(data.length !== 0) {%>
        <section>
            <div class="container">
                <h1 class="text-center h1 my-4">Uploaded Images</h1>
                <hr />
                <% for(i = 0; i < data.length; i++) {%>
                <div class="jumbotron text-center hoverable p-4">
                    <h2 class="text-center mb-4">Title: <%= data[i].title %></h1>
                        <p class="font-weight-normal">Client: <%= data[i].client %></p>
                        <p class="font-weight-normal">Date: <%= data[i].date %></p>
                        <div class="row row-cols-1 row-cols-md-3">
                            <!-- Card 01-->
                            <% for(j = 0; j < data[i].image.length; j++) {%>
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="view overlay">
                                        <img name="kImage" class="card-img-top" src="../../<%= data[i].image[j] %>"
                                            alt="Card image cap">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Card -->
                        </div>
                        <!-- Change Here -->
                        <form action="/admin/foyer/delete" method="POST">
                            <input type="hidden" name="_csrf" value="">
                            <input type="hidden" name="dImage" value="<%= data[i].image %>">
                            <button type="submit" name="kButton" class="btn peach-gradient"
                                value="<%= data[i]._id %>">Delete</button>
                        </form>
                </div>
                <% } %>
            </div>
            <% } %>
            </body>

            </html>