<%- include("../partials/admin-header"); -%>
<main>
  <section>
    <div class="container">
      <h1 class="text-center my-4">Admin Page</h1>
      <hr />
      <h4 class="text-center my-4">Select Collection to Upload</h4>

      <div class="row row-cols-1 row-cols-md-3">
        <!-- Card 01-->
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <!-- http://web-ui:3000/usr/src/app/assets/img/portfolio/portfolio-1.jpg -->
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Kitchen</h4>
              <a href="/admin/kitchen" class="black-text d-flex justify-content-end" role="button"><h5>Click Me <i class="fas fa-angle-double-right"></i></h5></a>
            </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card 02-->
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Dining Area</h4>
              <a href="/admin/dine" class="black-text d-flex justify-content-end" role="button"><h5>Click Me <i class="fas fa-angle-double-right"></i></h5></a>
            </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card 03-->
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Living Area</h4>
              <a href="/admin/main" class="black-text d-flex justify-content-end" role="button"><h5>Click Me <i class="fas fa-angle-double-right"></i></h5></a>
            </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card 04-->
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Bed Room</h4>
              <a href="/admin/bed" class="black-text d-flex justify-content-end" role="button"><h5>Click Me <i class="fas fa-angle-double-right"></i></h5></a>
            </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card 05-->
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Foyer</h4>
              <a href="/admin/foyer" class="black-text d-flex justify-content-end" role="button"><h5>Click Me <i class="fas fa-angle-double-right"></i></h5></a>
            </div>
          </div>
        </div>
        <!-- Card -->

        <!-- Card 06-->
        <div class="col mb-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Commercial Projects</h4>
              <a href="/admin/commercial" class="black-text d-flex justify-content-end" role="button"><h5>Click Me <i class="fas fa-angle-double-right"></i></h5></a>
            </div>
          </div>
        </div>
        <!-- Card -->
        <form action="/logout" method="POST" enctype="multipart/form-data">
          <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
      </div>
      </body>

      </html>